/* Variables */
  $blue: #005da0;
  $green: #4d9d48;
  $yellow: #ffd006;

  $black: #111;
  $white: #fff;
  $grayBack: #8395a7;
  $grayContent: lighten(#c8d6e5, 10%);

  *{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  body{
    background-color: $grayBack;
    overflow-x: hidden;
  }