/* Variables */
  $blue: #005da0;
  $green: #4d9d48;
  $yellow: #ffd006;

  $black: #111;
  $white: #fff;
  $dk-blue: #0d325d;
  $dk-blue-faded: rgba(13, 50, 93, 0.5);
  $dk-blue-modal: rgba(13, 50, 93, 0.9);
  $grayBack: #ddd;
  $grayContent: rgb(250, 250, 250);

  $border-style: 3px solid;

  $border-radius: 5px;

  *{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  body{
    background-color: $grayBack;
    overflow-x: hidden;
  }