footer{
  width: 100vw;
  color: $white;
  position: relative;
  top: -20px;  
  
  .footer-content{
    width: 100vw;
    background: $black;
    margin: 0 auto;
    padding: 2rem 3rem 5rem;
    line-height: 1.75;

    .heading{
      font-size: 1.25rem;
      white-space: nowrap;
      margin-right: 20%;
      border-bottom: 3px solid $white;
      margin-bottom: 1.5rem;
    }
      
    p{
      margin: 1px;
      line-height: 1.5;
    }

    a{
      color: $white;
    }



    ul{
      list-style: none;
      text-transform: uppercase;
    }

    .location-container{

      .icons p{
        display: block;
        text-align: center;
      }
    }

    .partner-logos{
      padding: 10px;
    }

    .footer-links{
      text-transform: capitalize;
    }

    @media(max-width:960px){
      padding: 2rem 1rem 7rem;
    }
  }
}