/* HEADER START */

@font-face {
  font-family: 'Bodoni';
  src: url('../img/Bodoni-PosterCompressed.woff2') format('woff2'),
      url('../img/Bodoni-PosterCompressed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.hbs-header{
  position: relative;
}

.header-container{
  color: $white;
  user-select: none;
  height: 100vh;

  .logo-bar{
    padding: 15px;
    width: 100vw;
  }

  .logo{
    position: relative;
    object-fit: contain;

    img{

    }
    
    @media(max-width: 660px){
    }
    .logo-text{
      white-space: nowrap;
      font-family: 'Bodoni'; font-weight: normal; font-style: normal;
      font-size: 2.25rem;
      position: absolute;
      top: 1rem;
      padding: 0 10px;

      @media(max-width: 660px){
        font-size: 1.25rem;
      }

      @media (max-width: 35.5em){
        display: none;
        }
    }
  }

  .header-right{
    padding: 10px;
    text-align: right; 
    font-size: 1rem;
    
    .book-btn{
      display: none;
    }

    .menu-btn{
      display: none;
    }
    

    @media(min-width: 960px){
      
    }
    
    @media(max-width: 960px){
     

    }
    
    @media (max-width: 1024px) {
      .phone-number-text{
        display: none;
      }

      .book-btn{
        display: initial;
      }
      .menu-btn{
        display: initial;
      }
    }
    
    .phone-number-text{
      font-size: 1.1rem;
      margin-right: 10px;
      font-weight: bold;
      a{ color: $white; }
      i{ margin: 0 5px; }
    }
    
  }
}

/* HEADER END */