/* HEADER START */

@font-face {
  font-family: 'bodoni';
  src: url('../img/BodoniFLF-Roman.ttf') format('woff2'),
       url('../img/bodoniflf-roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.hbs-header{
  position: relative;
}

.header-container{
  color: $white;
  user-select: none;
  height: 85vh;

  .logo-bar{
    padding: 15px;
    width: 100vw;
  }

  .logo{
    position: relative;
    object-fit: contain;

    img{

    }
    
    @media(max-width: 660px){
    }
    .logo-text{
      white-space: nowrap;
      font-family: 'bodoni', serif;
      font-size: 2rem;
      position: absolute;
      top: 1rem;
      padding: 0 10px;

      @media(max-width: 660px){
        font-size: 1.25rem;
      }

      @media (max-width: 35.5em){
        display: none;
        }
    }
  }

  .header-right{
    padding: 10px;
    text-align: right; 
    font-size: 1rem;
    
    .book-btn{
      display: none;
    }

    .menu-btn{
      display: none;
    }
    

    @media(min-width: 960px){
      .text-buttons{
        display: initial;
      }
      .icon-buttons{
        display: none;
      }
    }
    
    @media(max-width: 960px){
      .text-buttons{
        display: none;
      }
      .icon-buttons{
        display: initial; 
        font-size: 1rem;
      }

    }
    
    @media (max-width: 1024px) {
      .phone-number-text{
        display: none;
      }

      .book-btn{
        display: initial;
      }
      .menu-btn{
        display: initial;
      }
    }
    
    .phone-number-text{
      font-size: 1.1rem;
      margin-right: 10px;
      font-weight: bold;
    }
    
    // .lang-btn{
    //   // display: none;
    // }

    // @media(max-width: 1024px){
    //   .menu-btn{
    //     display: inline-block;
    //   }
    //   .book-btn{
    //     display: inline-block;
    //   }
    //   .phone-number-text{
    //     display: none;
    //   }
    //   font-size: 1rem;
    // }
  }
}

/* HEADER END */