.content-container{  
  width: 100vw;
  margin-top: -100px;
  
  .content-group{
    width: 90vw;
    margin: auto auto;
    padding: 2rem 3rem;
    line-height: 1.75;
    background: $white;
    z-index: 2;
    font-size: 1.1rem;
    
    @media(max-width:1024px){
      width: 100vw;
      padding: 0 0.5rem;
    }
    
    &:nth-child(2n){
      background-color: $grayContent;
    }

    .sub-section{
      padding: 2rem 4rem;
      background-color: $grayContent;
      margin-bottom: 1rem;
      

      @media(max-width:1024px){
        padding: 10px 5px;
        margin-top: 1rem;
      }

      .image{ 
        img{
          min-width: 100%;
          max-width: 100%;
        }
      }
    }

    .s-headline-1{
      font-size: 1.5rem;
      margin: 0;
      text-transform: capitalize;
      font-weight: bold;
    }
    
    .c-content-text{
      font-size: 1.25rem;
      padding: 10px 0;
      margin: 0 auto;

      img{
        max-width: 100%;
        box-shadow: 0px 24px 67px -40px rgba(0,0,0,0.75);
      }
    }
    
    .c-headline{
      padding-right: 4rem;
      text-transform: uppercase;
      line-height: 0.9;
      
      
      .c-headline-1{
        font-size: 2rem;
        margin: 2.5rem 0 0;
        white-space: nowrap;
        font-weight: bold;
      }
      
      .c-headline-2{
        position: relative;
        padding-right: 4rem;
        font-size: 1.5rem;
        margin: 5px 0;
        padding-bottom: 2rem;

        &:after{
          position: absolute;
          content: "";
          border: $border-style $black;
          width: 20%;
          left: 0;
          top: 1.5rem;
        }
      }
      .view-more{
        font-size: 0.9rem;
        font-weight: 700;
        padding: 1rem 0;
        cursor: pointer;
      }


      .description{
        text-transform: none;
        line-height: 1.75;
      }
    }
    .images-container{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 10px;
      justify-items: center;
      
      @media(max-width: 1024px){
        grid-template-columns: 1fr;
      }

      img{
        max-width: 100%;
      }
    }
  }

  .extra-padding-bottom{
    padding-bottom: 10rem;
  }
  
}