.btn-pill{
  background: none;
  border-radius: $border-radius;
  border: 3px solid;
  color: lighten($white, 10%);
  border-color: lighten($white, 10%);
  transition: 500ms;
  outline: none;  
  text-transform: capitalize;
}

i{
  padding-right: 10px;
}

.btn-pill:hover{
  transform: translateY(3px);
}

.btn-pill-md{
  @extend .btn-pill;
  padding: 5px 12px;

  @media screen and (max-width: 1024px){
    padding-left: 20px;
  }
  @media screen and (max-width: 660px){
    padding: 5px 0 5px 8px;
  }
}
.btn-pill-lg{
  @extend .btn-pill;
  padding: 15px 25px;
}
//BTN END

// Review cards
.reviews-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3rem;

  .agg-review{
    display: grid;
    position: relative;
    justify-content: center;
    align-content: center;
    text-align: center;
    border: $border-style $grayBack; 
    border-radius: $border-radius;
    padding: 1rem;
    cursor: pointer;

    &--score{
      display: grid;
      align-content: center;
      justify-self: center;
      border-radius: 50%;
      background: $booking-blue;
      font-size: 3rem;
      padding: 0 1rem;
      margin: 0;
      height: 10rem;
      width: 10rem;

      &-denom{
        font-size: 1.2rem;
      }
    }

    &--review-count{
      margin: 2px 0 10px;
      font-size: 0.9rem;
      color: lighten($black-text, 20%);;
      text-transform: uppercase;
    }
    .reviewer-logo{
      display: grid;
      height: 85px;
      align-content: center;
    }
  }
}

  //Contact Pills
  .pills{
    display: grid;
    grid-gap: 1rem;
    .pill{
      display: grid;
      grid-template-columns: 1fr 9fr;
      align-items: center;
      border: $border-style $grayBack;
      border-radius: $border-radius;
      padding: 1rem;
      grid-gap: 2rem;

      .icon{
        img{
          max-width: 75px;
          @media (max-width: 425px) {
            max-width: 25px;
          }
        }
      }

      .pill-data{
        p{
          padding: 0;
          margin: 0;
          font-size: 1.2rem;
          font-weight: 700;
          
          @media (max-width: 425px){
            font-size: 0.9rem;
            font-weight: 700;

          }
        }
      }
      
    }
  }
